main.nosotros h2{
text-align: center;
margin-bottom: 15px;
}
main.nosotros h3{
    text-align: center;
    margin-bottom: 15px;
}
main.nosotros p{
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}

