    /* IMAGENES ALINEADAS  */
    .pImage {
        height: auto;
    }

    .dataWoman,
    .dataMan {
        height: auto;
        width: 80%;
        margin: auto;
    }

    .imgSearchResultsHome {
        display: block;
        width: 100%;
        width: 80%;
        margin: auto;
    }