<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body class="login">
    <header><div class= "top-header"><p>ENVIO GRATIS A PARTIR DE 15.000$ - 3 Y 6 CUOTAS SIN INTERES.</p></div>
        <nav class= "header-nav">
            <div class= "header-logo">
        <li class= "logo"><a href="/"><img src="/img/logo-roma.jpg" alt=""></a></li>
        <li class= "logo-name"><a href="/">roma</a></li>
        </div>
         <div class= "header-buscador">
            <form action="" class="buscar">
                <a href="" class="icon"></a>
                <input type="search" name="Search" id="search" placeholder="¿Que desea buscar?"><i class="fas fa-search"></i>
            </form>
            
         </div>
        <div class= "header-login">
            <li><a href="/login">ingresar</a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-bag"></i></li></a>
        </div>
        </nav>
        
        <nav>
        <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        
            <div class= "search-bar">
                <ul>
                    <li><a href="">Mujer</a></li>
                    <li><a href="">Hombre</a></li>
                    <li><a href="">Categorias</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Liquidacion</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="formulario">
        <h2>iniciar sesion</h2>
        <form action="" method="POST">
            <div class="box-form">
                <label for="email">Nombre de usuario</label>
                <input type="email" placeholder="" id="email" name="email">
            </div>
            <div class="box-form1">
                <label for="pass">Contraseña</label>
                <input type="password" placeholder="" id="pass" name="password">
            </div>
            <div class="box-check">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Recordame</label>
            </div>
            <div class="box-error">
                <span class="ndu-ctra">¿Olvidaste tu <a href="">nombre de usuario</a></span>
                <span>o <a href="">contraseña</a>?</span>
            </div>
            <div class="p-privacidad">
                <span>Cuando iniciás sesión, confirmás que estás de acuerdo con la <a href="#">Política de privacidad</a></span>
                <span>y los <a href="">Términos de uso</a> de Roma.</span>
            </div>
            <div id="login-redes">
                <a href="/" class="botonI"><i class="fas fa-sign-in-alt"></i>  Iniciar sesión</a>

                <a href="http://www.Facebook.com/" class="btn-face"><i class="fab fa-facebook"></i> Iniciar sesión con Facebook</a>

                <a href="https://accounts.google.com/"class="btn-g"><i class="fab fa-google"></i> Iniciar sesión con Google</a>
              
                <a href="/register" class="btn-crear"><i class="fas fa-user-plus"></i> Crear cuenta</a>
            </div>          
        </form>
    </div>
    

</body>
</html>