<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body class="register">
    <header><div class= "top-header"><p>ENVIO GRATIS A PARTIR DE 15.000$ - 3 Y 6 CUOTAS SIN INTERES.</p></div>
        <nav class= "header-nav">
            <div class= "header-logo">
        <li class= "logo"><a href="/"><img src="/img/logo-roma.jpg" alt=""></a></li>
        <li class= "logo-name"><a href="/">roma</a></li>
        </div>
         <div class= "header-buscador">
            <form action="" class="buscar">
                <a href="" class="icon"></a>
                <input type="search" name="Search" id="search" placeholder="¿Que desea buscar?"><i class="fas fa-search"></i>
            </form>
            
         </div>
        <div class= "header-login">
            <li><a href="/login">ingresar</a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-bag"></i></li></a>
        </div>
        </nav>
        
        <nav>
        <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        
            <div class= "search-bar">
                <ul>
                    <li><a href="">Mujer</a></li>
                    <li><a href="">Hombre</a></li>
                    <li><a href="">Categorias</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Liquidacion</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <!--FORMULARIO DE REGISTRO-->

    <div class="formulario">
        <h2>Formulario de Registro</h2>
        <form action="" method="POST">
            <div class="box-form">
                <label for="email">Nombre de usuario</label>
                <input type="email" placeholder="" id="email" name="email">
            </div>
            <div class="box-form1">
                <label for="email">Correo electronico</label>
                <input type="email" placeholder="" id="email" name="email">
            </div>
           
            <div class="pass1">
                <label for="pass">Contraseña</label>
                <input type="password" placeholder="" id="pass" name="password">
            </div>

            <div class="pass2">
                <label for="pass">Confirmar Contraseña</label>
                <input type="pass" placeholder="" id="pass" name="password">
            </div>
            
            <!-- CAJAS -->

            <main>
                <div class="box-check1">
                    <input type="checkbox" id="remember" name="remember" class="box-check1">
                    <label for="remember">Al registrarte, aceptas nuestras Condiciones de uso y Politica de Privacidad</label>
                </div>

            </main>

            <span>¿Ya tienes una cuenta?</span> <a href="/login" class="btn-is">Iniciar sesion</a><a href="/" class="btn-r">Registrate</a>



            <footer>

                
                
                <section class = "footer-box">
                
                <section class ="redes">
                    
                    <article class="redes-top">
                        <div class= "logo-footer"><H3>ROMA</H3></div>
                        <div class= "redes-footer"><P>REDES SOCIALES</P>
                            <ul>
                                 <li><a href="/"><i class="fab fa-twitter"></i></a></li>
                                 <li class="red-min"><a href="/"><i class="fab fa-facebook-square"></i></a></li>
                                 <li><a href="/"><i class="fab fa-google-plus-g"></i></a></li>
                                 <li class="red-min"><a href="/"><i class="fab fa-instagram"></i></a></li>
                                </ul></div>
                        
                    </article>
                
                </section>
                
                <section class = "footer-navbar">
                    <article class= "institucional">
                        <H4>INSTITUCIONAL</H4>
                        <ul>
                            <li><a href="/">QUIENES SOMOS</a></li>
                            <li><a href="/">POLITICAS DE PRIVACIDAD</a></li>
                            <li><a href="/">PROTOCOLOS COVID-19</a></li>
                            <li><a href="/">TERMINOS Y CONDICIONES</a></li>
                            <li><a href="/">DEFENSA DEL CONSUMIDOR</a></li>
                        </ul>
                    </article>
                <article class = "ayuda">
                    <H4>AYUDA</H4>
                        <ul>
                            <li><a href="/">PREGUNTAS FRECUENTES</a></li>
                            <li><a href="/">SUCURSALES</a></li>
                            <li><a href="/">PAGOS</a></li>
                            <li><a href="/">ENTREGAS</a></li>
                            <li><a href="/">CAMBIOS</a></li>
                        </ul>
                </article>
                <article class ="cliente">
                    <H4>AT. AL CLIENTE</H4>
                        <ul>
                            <li>011-15-7024-2868</li>
                            <li>LUN A VIE DE 09 A 20 HS.</li>
                            <li>SABADOS DE 09 A 17 HS.</li>
                            <li>CONTACTO</li>
                            <li>BOTON DE ARREPENTIMIENTO</li>
                        </ul>
                </article>
                </section>
                
                
                <section class = "end-footer">
                    <article> 
                        <p>www.roma.com - TODOS LOS DERECHOS RESERVADOS. las fotos contenidas en este site son propiedad de www.roma.com </p>
                    </article>
                </section>
                
                
                </section>
                    </footer>

   
</body>
</html>