<header>
    <div class="top-header">
        <p>ENVIO GRATIS A PARTIR DE 15.000$ - 3 Y 6 CUOTAS SIN INTERES.</p>
    </div>
    <nav class="header-nav">
        <div class="header-logo">
            <li class="logo"><a href="/"><img src="/img/logo-roma.jpg" alt=""></a></li>
            <li class="logo-name"><a href="/">roma</a></li>
        </div>
        <div class="header-buscador">
            <form action="" class="buscar">
                <a href="" class="icon"></a>
                <input type="search" name="Search" id="search" placeholder="¿Que desea buscar?"><i
                    class="fas fa-search"></i>
            </form>

        </div>
        <div class="header-login">
            <li><a href="/users/login">ingresar</a></li>
            <li><a href="/products/cart"><i class="fas fa-shopping-bag"></i></li></a>
            <li><a href="/admin">Administrar</a></li>
        </div>
    </nav>

    <nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="search-bar">
            <ul>
                <li><a href="">Mujer</a></li>
                <li><a href="">Hombre</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Marcas</a></li>
                <li><a href="">Liquidacion</a></li>
            </ul>
        </div>
    </nav>
</header>