<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>







    <main class="add">

        <section class = "contain-add">

            <div>
                <h3>AGREGAR PRODUCTO</h3>
            </div>
<form action="">
<div>
    <label for="">Nombre
        <input type="text" name="name" id="">
    </label>
</div>





<div>
    <label for="">Categoria
        <input type="text" name="category" id="">
    </label>
</div>

<div>
    <label for="">Precio
        <input type="text" name="price" id="">
    </label>
</div>

<div>
    <label for="">Descuento
        <input type="text" name="discount" id="">
    </label>
</div>

<div>
    <label for="">Color
       <div class="button-contain">

        <div class="rojo"><input  type="radio" name="color" value="rojo"></div>
        <div class="beige"><input  type="radio" name="color" value="beige"></div>
        <div class="blanco"><input type="radio" name="color" value="blanco"></div>
        <div class="negro"><input type="radio" name="color" value="negro"></div>

       </div> 
    </label>
</div>

<div >
    <label for="">Imagen
        <input type="file" name="image" id="">
    </label>
</div>
<div><h4>DESCRIPCION</h4></div>
<div class="add-description">
        <textarea name="description" id="comentario"></textarea>
</div>

<button class="button-blue" type="submit">Agregar</button>
<button class="button-red" type="reset">Cancelar</button>





</form>

</section>



    </main>






    <%- include('../partials/footer') %> 
</body>
</html>