<!DOCTYPE html>
<html lang="es">

<%- include('partials/productdetail') %>
<body>
    <%- include('partials/header') %>
    
    <main class="contenedor-producto">
        <div class="contenedor-general-c-p">
        <!-- CAROUSELS -->
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-rojo1.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-rojo2.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-rojo3.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-rojo4.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-beige.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-blanco1.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-blanco2.jpg" alt=""></li>
                    <li class="splide__slide"><img class="img" src="/img/img-producto-polera-negro.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <!-- DETALLE DE PRODUCTO -->
        <div class="caracteristicas-producto">
            <div class="descripcion-producto">
                <p class="ml-1">Polera de mujer Roma <span class="precio-estilo">$3.950</span></p>
                <div class="colores-radio ml-2">
                    <label for="text" >color</label>
                    <div class="radio-rojo ml-2">
                        <input type="radio" name="color" value="color-rojo" >
                    </div>
                    <div class="radio-beige ml-2">
                        <input type="radio" name="color" value="color-beige" >
                    </div>
                    <div class="radio-blanco ml-2">
                        <input type="radio" name="color" value="color-blanco" >
                    </div>
                    <div class="radio-negro ml-2">
                        <input type="radio" name="color" value="color-negro" >
                    </div>
                   
                </div>

                <div class="detalle-talla">
                    <label for="text" >talle</label>
                    <div class="talle-producto ml-2">
                        <p>38</p>
                        <input type="radio" name="talle" value="talle-38" >
                    </div>
                    <div class="talle-producto ml-2">
                        <p>40</p>
                        <input type="radio" name="talle" value="talle-40" >
                    </div>
                    <div class="talle-producto ml-2">
                        <p>42</p>
                        <input type="radio" name="talle" value="talle-42" >
                    </div>
                    <div class="talle-producto ml-2">
                        <p>44</p>
                        <input type="radio" name="talle" value="talle-44" >
                    </div>
                </div>

                <div class="cantidad-producto">
                    <p>cant</p>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                    <span class="color-gris">1</span>
                    <button>
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
                <div class="boton-compra"> <button> <a href="/cart"> agregar a carrito</a></button>

                    <button> <a href="/">volver al incio</a></button>
                </div>
            </div>
        </div>
    </div>
    </main>
    <!-- Splide -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="path-to-the-file/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('.splide').mount();
        });
    </script>




<%- include('partials/footer') %>
   
</body>

</html>
