main.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-add {
text-align: center;
background-color: lightblue;
min-width: 600px;
width: 70%;
box-shadow: 0px 0px 10px rgb(100, 100, 100);
margin: 10px 10px 0 10px;
margin-right: 5%;
} 


.contain-add h3 {
    text-align: center;
}

.contain-add div {
    margin: 0 auto; 
    text-align: center;
    align-items: center;
    width: 90%;
}

.button-contain {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.button-contain div {
    margin-left: 15px;
}

.button-contain input {
    opacity: 0.2;
    width: 2em;
    height: 2em;
    margin-top: -6px;
    margin-left: -6px;

}

div.rojo {
    
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 13);
    border-radius: 50%;
    border:solid 1px darkgrey;
}


div.beige {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 230, 0, 0.479);
    border-radius: 50%;
    border:solid 1px darkgrey;
}

div.blanco {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border:solid 1px darkgrey;
}

div.negro {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    border:solid 1px darkgrey;
}

main.home section.tipo-main div.hombre a img{
    width: 40%;
}

main.home section.tipo-main div.mujer a img{
    width: 30%;
}


.add-description textarea{
    width: 90%;
   min-height: 60px;
}
.contain-add button {
    padding: 7px;
    margin: 15px;
    border-radius: 15%;
}

.button-blue {
    background-color: darkblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s;
}
img{
    width: 40%;
}

.button-blue:hover {
    background-color: blue;
    border: solid 2px darkblue;
}




.button-red {
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s;
}


.button-red:hover {
    background-color: tomato;
    border: solid 2px red;
}

@media (max-width : 330px) {
    .contain-add {
        max-width: 410px;
        margin-left: 50%;
        min-width: 300px;
    }
}

@media (max-width : 380px) {
    .contain-add {
        max-width: 410px;
        margin-left: 50%;
        min-width: 300px;
    }
}

@media (max-width : 430px) {
    .contain-add {
        max-width: 410px;
        margin-left: 50%;
        min-width: 250px;
        margin-right: 47%;
    }
    button,input{
        display: none;
    }
    .contain-add h3{
        font-size: 15px;
    }
}