
main.home section.banner-main img {
    width: 100%;
}

main.home section.tipo-main div.mujer a img {
    width: 100%;
}

main.home section.tipo-main div.hombre a img {
    width: 100%;
}

main.home section.tipo-main div.mujer h4 {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 60px;
    font-size: 30px;
    color: white;


}

main.home section.tipo-main div.hombre h4 {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 60px;
    font-size: 30px;
    color: white;
}

main.home h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;

}

main.home section.ofertas-main {
    display: flex;
    flex-wrap: wrap;
}

main.home section.ofertas-main article.ofertas-android {
    display: flex;
}

main.home section.ofertas-main article.ofertas-android div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

main.home section.ofertas-main article.ofertas-android div a img {
    width: 97%;
}

main.home section.ofertas-main article.ofertas-tablet div a img {
    width: 50%;

}

main.home section.ofertas-main article.ofertas-tablet div {
    display: none;
}

main.home section.ofertas-main article.ofertas-desktop div a img {
    width: 50%;
    display: none;
}

main.home section.ofertas-main article.ofertas-desktop div {
    display: none;
}


main.home section.ofertas-main article.ofertas-android div h5 {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 60px;
    font-size: 25px;
    color: white;
}

main.home section.ofertas-main article.ofertas-tablet div h5 {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 60px;
    font-size: 25px;
    color: white;

}

main.home section.ofertas-main article.ofertas-desktop div h5 {
    width: 50%;
    text-align: center;
    position: relative;
    bottom: 60px;
    font-size: 25px;
    color: white;

}


@media (min-width:425px) {

    main.home section.tipo-main {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

    }


    main.home section.tipo-main div.mujer a img {
        width: 92%;
        height: 77%;
    }

    main.home section.tipo-main div.hombre a img {
        width: 100%;
        height: 77%;
    }

    main.home section.tipo-main div.mujer h4 {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 60px;
        font-size: 25px;
        color: white;


    }

    main.home section.tipo-main div.hombre h4 {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 60px;
        font-size: 25px;
        color: white;
    }

    main.home section.ofertas-main article.ofertas-tablet div a img {
        width: 50%;

    }

    main.home section.ofertas-main article.ofertas-android {

        width: 50%;

    }


    main.home section.ofertas-main article.ofertas-tablet div {
        display: block;
        width: 50%;
    }

    main.home section.ofertas-main article.ofertas-tablet {
        width: 50%;
        display: flex;


    }

    main.home section.ofertas-main article.ofertas-tablet div a img {
        width: 97%;
    }


}


@media (min-width: 724px) {



    main.home section.ofertas-main article.ofertas-android {

        width: 33%;

    }

    main.home section.ofertas-main article.ofertas-tablet {

        width: 33%;

    }

    main.home section.ofertas-main article.ofertas-desktop {

        width: 33%;

    }

    main.home section.ofertas-main article.ofertas-desktop {
        display: flex;
    }

    main.home section.ofertas-main article.ofertas-desktop div {

        width: 100%;
        display: block;


    }

    main.home section.ofertas-main article.ofertas-desktop div a img {
        width: 97%;
        display: block;
    }

    main.home section.ofertas-main article.ofertas-desktop div h5 {
        width: 100%;

    }




}