<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/splideHome.css">

    <!-- Bootstrap CSS -->
    <!-- ADMIN -->
    <!-- ICONOS DE admin FUNCIONA SUGERIDO POR TORCH BROWSER-->
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/master.css">
    <!-- ADMIN /-->


    <!-- Splide -->
    <!-----------------------------Link to the file hosted on your server, -->
    <!-- <link rel="stylesheet" href="./splide.min.css"> -->
    <!-- <script src="./splide.min.js"></script> -->
    <!-----------------------------or the one installed in node_modules directory, -->
    <!-- <link rel="stylesheet" href="../../../node_modules/@splidejs/splide/dist/css/themes/splide-default.min.css"> -->
    <!-- <script src="../../../node_modules/@splidejs/splide/dist/js/splide-renderer.min.js"></script> -->
    <!----------------------------- or the reference on CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <!-- Splide / -->

</head>