<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title : 'Agregar producto'}) %>

<body>
    <%- include('../partials/header') %>

    <main class="add">

        <section class="contain-add">

            <div>
                <h3>AGREGAR PRODUCTO</h3>
            </div>
            <!-- CONFIGURACION PARA CARGAR ARCHIVOS CON  MULTER. enctype  -->
            <form action="/admin/add" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre
                        <input type="text" name="name" id="" >
                    </label>
                </div>

                <div>
                    <label for="category">Categoria
                        <input type="text" name="category" id="" placeholder="1=Hombre      2=Mujer">
                    </label>
                </div>

                <div>
                    <label for="price">Precio
                        <input type="text" name="price" id="" placeholder="10,2">
                    </label>
                </div>

                <div>
                    <label for="discount">Descuento
                        <input type="text" name="discount" id="">
                    </label>
                </div>

                <div>
                    <label for="color">Color
                        <div class="button-contain">

                            <div class="rojo"><input type="radio" name="color" value="Rojo"></div>
                            <div class="beige"><input type="radio" name="color" value="Beige"></div>
                            <div class="blanco"><input type="radio" name="color" value="Blanco"></div>
                            <div class="negro"><input type="radio" name="color" value="Negro"></div>

                        </div>
                    </label>
                </div>

                <div>
                    <label for="size">Talle
                        <div class="button-contain">

                            <label for="">L<input type="radio" name="size" value="L"></label>
                            <label for="">S<input type="radio" name="size" value="S"></label>
                            <label for="">M<input type="radio" name="size" value="M"></label>
                            <label for="">XL<input type="radio" name="size" value="XL"></label>

                        </div>
                    </label>
                </div>

                <!-- CARGA DE IMAGENES CON MULTER -->
                <div>
                    <label for="">Imágenes para detalle de producto.
                        <!-- CONFIGURACION PARA CARGAR ARCHIVOS CON  MULTER. name  -->
                        <input type="file" name="splideImages" id="splideImages" placeholder="" value="splideImages"
                            multiple>
                    </label>
                </div>

                <div>
                    <h4>DESCRIPCION</h4>
                </div>
                <div class="add-description">
                    <textarea name="description" id="comentario"></textarea>
                </div>

                <button class="button-blue" type="submit">Agregar</button>
                <button class="button-red" type="reset">Cancelar</button>

            </form>

        </section>

    </main>

    <%- include('../partials/footer') %>
</body>

</html>