<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login de usuario'}) %>

<body class="login">
    
    <%- include('../partials/header') %> 

    <!--FORMULARIO-->
    <main class="add">
    <section class="contain-add">
        <h3>INICIAR SESION</h3>
        <form action="" method="POST">
            <div>
                <label for="email">Ingrese Email
                <input type="email" placeholder="ingrese su Email" name="email"></label>
            </div>
            <div>
                <label for="password">Contraseña
                <input type="password" placeholder="Ingrese su Contraseña" name="password"></label>
            </div>
            <div>
                <label for="remember"><input type="checkbox" name="remember" value="remember"> Recordame</label>
            </div>
              
            
            <div>
                <button class="button-blue" type="submit">Iniciar</button>
                <button class="button-red" type="reset">Cancelar</button>
            </div>
                      
        </form>

        <div>
           <label for="">¿No tenes usuario? <button class="button-blue"><a href="/users/register">Registrate</a></button></label>
          </div> 

        </section>
    </main>

    <%- include('../partials/footerRegister') %> 
 
</body>
</html>