<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>  
<body class="login">
    <%- include('../partials/header') %>  

    <!--FORMULARIO-->
    <div class="formulario">
        <h2>iniciar sesion</h2>
        <form action="" method="POST">
            <div class="box-form">
                <label for="email">Nombre de usuario</label>
                <input type="email" placeholder="" id="email" name="email">
            </div>
            <div class="box-form1">
                <label for="pass">Contraseña</label>
                <input type="password" placeholder="" id="pass" name="password">
            </div>
            <div class="box-check">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Recordame</label>
            </div>
            <div class="box-error">
                <span class="ndu-ctra">¿Olvidaste tu <a href="">nombre de usuario</a></span>
                <span>o <a href="">contraseña</a>?</span>
            </div>
            <div class="p-privacidad">
                <span>Cuando iniciás sesión, confirmás que estás de acuerdo con la <a href="#">Política de privacidad</a></span>
                <span>y los <a href="">Términos de uso</a> de Roma.</span>
            </div>

            <!--BOTONES-->
            
            <div id="boton-I">
                <a href="/" class="botonI"><i class="fas fa-sign-in-alt"></i>  Iniciar sesión</a>
            </div>
                

                <a href="http://www.Facebook.com/" class="btn-face"><i class="fab fa-facebook"></i> Iniciar sesión con Facebook</a>

                <a href="https://accounts.google.com/"class="btn-g"><i class="fab fa-google"></i> Iniciar sesión con Google</a>
              
              <div id="boton-crear">
                <a href="/register" class="btn-crear"><i class="fas fa-user-plus"></i> Crear cuenta</a>
              </div>  
                      
        </form>
    </div>

    <%- include('../partials/footer') %>  
 
</body>
</html>