<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body class="register">
    <%- include('partials/header') %> 

    <!--FORMULARIO DE REGISTRO-->

    <div class="formulario">
        <h2 class="formularioDeRegistro">Formulario de Registro</h2>
        <form action="" method="POST" class="post">
            <div>
                <label  class="box-form2" for="email">Nombre de usuario</label>
                <input class="pass2" type="email" placeholder="" id="email" name="email">
            </div>
            <div>
                <label  class="box-form3" for="email">Correo electronico</label>
                <input class="pass3" type="email" placeholder="" id="email" name="email">
            </div>
           
            <div>
                <label  class="box-form4" for="pass">Contrase単a</label>
                <input class=pass4 type="password" placeholder="" id="pass" name="password">
            </div>

            
                <label  class="box-form5" for="pass">Confirmar Contrase単a</label>
                <input class="input5" type="pass" placeholder="" id="pass" name="password">
            
            
            <!-- CAJAS -->

            <main>
                <div class="chek-terminos">
                    <input class="box-check2" type="checkbox" id="remember" name="remember" class="box-check1">
                    <label class="a-check" for="remember">Al registrarte, aceptas nuestras Condiciones de uso y Politica de Privacidad</label>
                </div>

            </main>

            <span class="多">多Ya tienes una cuenta?</span> <a href="/login" class="btn-is">Iniciar sesion</a>
            <div id="boton-re">
                <a href="/" class="btn-re">Registrate</a>
            </div>



    <%- include('partials/footerRegister')

   
</body>
</html>