<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>


<main class="nosotros">
    <div>
        <h2>Roma Indumentaria</h2>
<div>
    <h3>¿Como nacio Roma?</h3>
    <p>Roma nace a solicitud de un cliente, el cual solicito un E-commerce para su emprendimiento.</p>
</div>

<div>
    <h3>¿Qué productos o servicios brindá el sitio?</h3>
    
    <p>El sitio es un E-commerce abocado a la venta de indumentaria femenina y masculina.</p>
</div>

<div>
    <h3>¿Quién es la audiencia objetivo?</h3>
    <p>La página diseñada ofrece sus productos a todo el publico, dando la posibilidad de adquirir variedad de diseño en indumentaria y accesorios, con envío a todo el país.</p>
</div>

<div>
    <h3>¿Cómo se ajusta la oferta a ese público?</h3>
    <p>Desde Roma creemos que la mejor forma de ajustar una oferta a todo público, es ofreciendo indumentaria de la mejor calidad y el mejor precio. Tomando como referencia a los grandes líderes del mercado, tanto en su estética como en sus estrategias de marketing y ofertas.</p>
</div>

<div>
    <h3>Roma y su colaboracion con el medio ambiente</h3>
    <p>Como parte de nuestra contribucion con el medio ambiente, Roma ofrecio en conjunto con el E-commer "Colmena" una indumentaria exclusiva que ayuda al cuidado de las abejas.</p>
</div>

<div>
    <h3>Nuestro Equipo de desarrollo</h3>
    <p>Soledad Vallejos, Nieto Leandro y Daniel Rivera, un grupo de apasionados por el desarrollo web, que con gran esfuerzo, hacen que dia a dia el sitio crezca y añada nuevas funcionalidades.</p>
</div>
       

    </div>


</main>




    <%- include('../partials/footer') %>
</body>
</html>