<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<%- include('../partials/head',{title : 'Agregar producto'}) %>

=======
    <%- include('../partials/head') %> 
>>>>>>> 8eb05432a1ee1d6a30a1691763e0c95f7956ae15
<body>
    <%- include('../partials/header') %> 

    <!--<main class= "home">
<section class = "banner-main">
<img src="/img/banner-1.jpg" alt="">
</section>-->


<section class ="tipo-main">


    <main class="add">

        <section class="contain-add">

            <div>
                <h3>AGREGAR PRODUCTO</h3>
            </div>
<<<<<<< HEAD
            <form action="" method="POST">
                <div>
                    <label for="">Nombre
                        <input type="text" name="name" id="">
                    </label>
                </div>


=======
<form action="" method="POST">
<div>
    <label for="">Nombre
        <input type="text" name="name" id="">
    </label>
</div>


<div>
    <label for="">Categoria
        <input type="text" name="category" id="">
    </label>
</div>
>>>>>>> 8eb05432a1ee1d6a30a1691763e0c95f7956ae15



                <div>
                    <label for="">Categoria
                        <input type="text" name="category" id="">
                    </label>
                </div>

                <div>
                    <label for="">Precio
                        <input type="text" name="price" id="">
                    </label>
                </div>

                <div>
                    <label for="">Descuento
                        <input type="text" name="discount" id="">
                    </label>
                </div>

                <div>
                    <label for="">Color
                        <div class="button-contain">

                            <div class="rojo"><input type="radio" name="colors" value="Rojo"></div>
                            <div class="beige"><input type="radio" name="colors" value="Beige"></div>
                            <div class="blanco"><input type="radio" name="colors" value="Blanco"></div>
                            <div class="negro"><input type="radio" name="colors" value="Negro"></div>

                        </div>
                    </label>
                </div>

<<<<<<< HEAD
                <div>
                    <label for="">Talle
                        <div class="button-contain">

                            <label for="">L<input type="radio" name="size" value="L"></label>
                            <label for="">S<input type="radio" name="size" value="S"></label>
                            <label for="">M<input type="radio" name="size" value="M"></label>
                            <label for="">XL<input type="radio" name="size" value="XL"></label>


                        </div>
                    </label>
                </div>

                <div>
                    <label for="">Imagen
                        <input type="file" name="image" id="/img/default.png" placeholder="" value="">
                    </label>
                </div>
                <div>
                    <h4>DESCRIPCION</h4>
                </div>
                <div class="add-description">
                    <textarea name="description" id="comentario"></textarea>
                </div>

                <button class="button-blue" type="submit">Agregar</button>
                <button class="button-red" type="reset">Cancelar</button>

=======
<div >
    <label for="">Imagen
        <input type="file" name="image" id="">
    </label>
</div>
<div class = "hombre">
    <a href="/products/productdetail"><img src="/img/ropa-hombre.jpg" alt=""></a>
    <h4>ROPA HOMBRE</h4>
</div>
<div class = "mujer">
    <a href="/products/productdetail"><img src="/img/img-producto-polera-rojo1.jpg" alt=""></a>
    <h4>ROPA MUJER</h4>
</div>
>>>>>>> 8eb05432a1ee1d6a30a1691763e0c95f7956ae15




<<<<<<< HEAD
            </form>

        </section>



=======
>>>>>>> 8eb05432a1ee1d6a30a1691763e0c95f7956ae15
    </main>

    <%- include('../partials/footer') %>
</body>

</html>